@{
    ViewBag.Title = "Chi sono";
}
<div id="content">
    <div class="whide">
        <!-- 1 colonna-->	
        <div style="width:25%;float:left;">
            <div style="float:left;margin-bottom:10em;border:0px solid black;width:98%">
                <h3 class="navbar">Sezioni</h3>
                <ul class="navbar">
                    <li class="navbar"><a class="navbar" href="/Home/Index">home</a></li>
                    <li class="navbar"><a class="navbar" href="/Home/ChiSono">chi sono</a></li>
                    <li class="navbar"><a class="navbar" href="/Home/Lavoro">lavoro</a></li>
                    <li class="navbar"><a class="navbar" href="/Home/NonLavoro">non lavoro</a></li>
                    <li class="navbar_selected"><a class="navbar_selected" href="/Home/Contatti">contatti</a></li>
                </ul>
            </div> 
        </div>
   		<!--COLONNA 2 Contenuti-->
        <div style="float:left;width:70%;border-left:1px dotted black;margin:5px;">
            <h1>Contatti</h1>
                <table style="margin:5px;">
					<tr>
						<td style="vertical-align:top;font-weight:bold;">Ufficio:</td>
						<td>Via Spinelli, 5<br/>41012 Carpi<br/>Modena</td>
					</tr>
					<tr>
						<td style="vertical-align:top;font-weight:bold;">Partita IVA:</td>
						<td>01761280351</td>
					</tr>
					<tr>
						<td style="vertical-align:top;font-weight:bold;">Cellulare:</td>
						<td>+0393899642798</td>
					</tr>
				</table>
                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="30" src="http://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=via+spinelli+5+carpi&amp;aq=&amp;sll=41.442726,12.392578&amp;sspn=20.032919,39.506836&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Alessandro+Spinelli,+5,+41012+Carpi+Modena,+Emilia+Romagna&amp;t=m&amp;ll=44.788536,10.88479&amp;spn=0.01066,0.018239&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.it/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=via+spinelli+5+carpi&amp;aq=&amp;sll=41.442726,12.392578&amp;sspn=20.032919,39.506836&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Alessandro+Spinelli,+5,+41012+Carpi+Modena,+Emilia+Romagna&amp;t=m&amp;ll=44.788536,10.88479&amp;spn=0.01066,0.018239&amp;z=15&amp;iwloc=A" style="color:#0000FF;text-align:left">Visualizzazione ingrandita della mappa</a></small>
        </div>
    </div>
</div>