<form name="FD2" method="post" action="">
    <input type='checkbox' name='G0' checked="checked"/>
    <input type='checkbox' name='G1' checked="checked"/>
    <input type='checkbox' name='G2' checked="checked"/>
    <input type='checkbox' name='G3' checked="checked"/>
    <input type='checkbox' name='G4' checked="checked"/>
    <input type='checkbox' name='G5' checked="checked"/>
    <input type='checkbox' name='G6' checked="checked"/>
    <input type='checkbox' name='G7' checked="checked"/>
    <input type='checkbox' name='G8' checked="checked"/>
    <input type='checkbox' name='G9' checked="checked"/>
    <input type='checkbox' name='G10' checked="checked"/>
    <input type='checkbox' name='G11' checked="checked"/>
    <input type='checkbox' name='G12' checked="checked"/>
    <input type='checkbox' name='G13' checked="checked"/>
    <input type='checkbox' name='G14' checked="checked"/>
    <input type='checkbox' name='G15' checked="checked"/>
    <input type='checkbox' name='G16' checked="checked"/>
    <input type='checkbox' name='G17' checked="checked"/>
    <input type='checkbox' name='G18' checked="checked"/>
    <input type='checkbox' name='G19' checked="checked"/>
    <input type='checkbox' name='G20' checked="checked"/>
    <input type='checkbox' name='G21' checked="checked"/>
    <input type='checkbox' name='G22' checked="checked"/>
    <input type='checkbox' name='G23' checked="checked"/>
    <input type='checkbox' name='G24' checked="checked"/>
    <input type='checkbox' name='G25' checked="checked"/>
    <input type='checkbox' name='G26' checked="checked"/>
    <input type='checkbox' name='G27' checked="checked"/>
    <input type='checkbox' name='G28' checked="checked"/>
    <input type='checkbox' name='G29' checked="checked"/>
    <input type='checkbox' name='G30' checked="checked"/>
    <input type='checkbox' name='G31' checked="checked"/>
    <input type='checkbox' name='G32' checked="checked"/>
    <input type='checkbox' name='G33' checked="checked"/>
    <input type='checkbox' name='G34' checked="checked"/>
    <input type='checkbox' name='G35' checked="checked"/>
    <input type='checkbox' name='G36' checked="checked"/>
    <input type='checkbox' name='G37' checked="checked"/>
    <input type='checkbox' name='G38' checked="checked"/>
    <input type='checkbox' name='G39' checked="checked"/>
    <input type='checkbox' name='G40' checked="checked"/>
    <input type='checkbox' name='G41' checked="checked"/>
    <input type='checkbox' name='G42' checked="checked"/>
    <input type='checkbox' name='G43' checked="checked"/>
    <input type='checkbox' name='G44' checked="checked"/>
    <input type='checkbox' name='G45' checked="checked"/>
    <input type='checkbox' name='G46' checked="checked"/>
    <input type='checkbox' name='G47' checked="checked"/>
    <input type='checkbox' name='G48' checked="checked"/>
    <input type='checkbox' name='G49' checked="checked"/>
    <input type='checkbox' name='G50' checked="checked"/>
    <input type='checkbox' name='G51' checked="checked"/>
    <input type='checkbox' name='G52' checked="checked"/>
    <input type='checkbox' name='G53' checked="checked"/>
    <input type='checkbox' name='G54' checked="checked"/>
    <input type='checkbox' name='G55' checked="checked"/>
    <input type='checkbox' name='G56' checked="checked"/>
    <input type='checkbox' name='G57' checked="checked"/>
    <input type='checkbox' name='G58' checked="checked"/>
    <input type='checkbox' name='G59' checked="checked"/>
</form>
<script type="text/javascript" language="javascript">
//<![CDATA[
    self.setInterval('numerillo_D2()', 1);
    function numerillo_D2() {
        var td2
        td2 = 'G' + Math.floor(Math.random() * 59);
        if (document.FD2.elements[td2].checked) {
            document.FD2.elements[td2].checked = false;
        } else {
            document.FD2.elements[td2].checked = true;
        }
    }
//]]>
</script>
