<form name="FD2Colonna4" method="post" action="">
    <input type='checkbox' name='G0C4' checked="checked"/>
    <input type='checkbox' name='G1C4' checked="checked"/>
    <input type='checkbox' name='G2C4' checked="checked"/>
    <input type='checkbox' name='G3C4' checked="checked"/>
    <input type='checkbox' name='G4C4' checked="checked"/>
    <input type='checkbox' name='G5C4' checked="checked"/>
    <input type='checkbox' name='G6C4' checked="checked"/>
    <input type='checkbox' name='G7C4' checked="checked"/>
    <input type='checkbox' name='G8C4' checked="checked"/>
    <input type='checkbox' name='G9C4' checked="checked"/>
    <input type='checkbox' name='G10C4' checked="checked"/>
    <input type='checkbox' name='G11C4' checked="checked"/>
    <input type='checkbox' name='G12C4' checked="checked"/>
    <input type='checkbox' name='G13C4' checked="checked"/>
    <input type='checkbox' name='G14C4' checked="checked"/>
    <input type='checkbox' name='G15C4' checked="checked"/>
    <input type='checkbox' name='G16C4' checked="checked"/>
    <input type='checkbox' name='G17C4' checked="checked"/>
    <input type='checkbox' name='G18C4' checked="checked"/>
    <input type='checkbox' name='G19C4' checked="checked"/>
    <input type='checkbox' name='G20C4' checked="checked"/>
    <input type='checkbox' name='G21C4' checked="checked"/>
    <input type='checkbox' name='G22C4' checked="checked"/>
    <input type='checkbox' name='G23C4' checked="checked"/>
    <input type='checkbox' name='G24C4' checked="checked"/>
    <input type='checkbox' name='G25C4' checked="checked"/>
    <input type='checkbox' name='G26C4' checked="checked"/>
    <input type='checkbox' name='G27C4' checked="checked"/>
    <input type='checkbox' name='G28C4' checked="checked"/>
    <input type='checkbox' name='G29C4' checked="checked"/>
    <input type='checkbox' name='G30C4' checked="checked"/>
    <input type='checkbox' name='G31C4' checked="checked"/>
    <input type='checkbox' name='G32C4' checked="checked"/>
    <input type='checkbox' name='G33C4' checked="checked"/>
    <input type='checkbox' name='G34C4' checked="checked"/>
    <input type='checkbox' name='G35C4' checked="checked"/>
    <input type='checkbox' name='G36C4' checked="checked"/>
    <input type='checkbox' name='G37C4' checked="checked"/>
    <input type='checkbox' name='G38C4' checked="checked"/>
    <input type='checkbox' name='G39C4' checked="checked"/>
    <input type='checkbox' name='G40C4' checked="checked"/>
    <input type='checkbox' name='G41C4' checked="checked"/>
    <input type='checkbox' name='G42C4' checked="checked"/>
    <input type='checkbox' name='G43C4' checked="checked"/>
    <input type='checkbox' name='G44C4' checked="checked"/>
    <input type='checkbox' name='G45C4' checked="checked"/>
    <input type='checkbox' name='G46C4' checked="checked"/>
    <input type='checkbox' name='G47C4' checked="checked"/>
    <input type='checkbox' name='G48C4' checked="checked"/>
    <input type='checkbox' name='G49C4' checked="checked"/>
    <input type='checkbox' name='G50C4' checked="checked"/>
    <input type='checkbox' name='G51C4' checked="checked"/>
    <input type='checkbox' name='G52C4' checked="checked"/>
    <input type='checkbox' name='G53C4' checked="checked"/>
    <input type='checkbox' name='G54C4' checked="checked"/>
    <input type='checkbox' name='G55C4' checked="checked"/>
    <input type='checkbox' name='G56C4' checked="checked"/>
    <input type='checkbox' name='G57C4' checked="checked"/>
    <input type='checkbox' name='G58C4' checked="checked"/>
    <input type='checkbox' name='G59C4' checked="checked"/>
</form>
<script type="text/javascript" language="javascript">
//<![CDATA[
    self.setInterval('numerillo_D2Colonna4()', 1);
    function numerillo_D2Colonna4() {
        var td2colonna4
        td2colonna4 = 'G' + Math.floor(Math.random() * 59) + 'C4';
        if (document.FD2Colonna4.elements[td2colonna4].checked) {
            document.FD2Colonna4.elements[td2colonna4].checked = false;
        } else {
            document.FD2Colonna4.elements[td2colonna4].checked = true;
        }
    }
//]]>
</script>
