@{
    ViewBag.Title = "Lavoro";
}
<div id="content">
    <div class="whide">
        <!-- 1 colonna-->	
        <div style="width:25%;float:left;">
            <div style="float:left;margin-bottom:10em;border:0px solid black;width:98%">
                <h3 class="navbar">Sezioni</h3>
                <ul class="navbar">
                    <li class="navbar"><a class="navbar" href="/Home/Index">home</a></li>
                    <li class="navbar"><a class="navbar" href="/Home/ChiSono">chi sono</a></li>
                    <li class="navbar_selected"><a class="navbar_selected" href="/Home/Lavoro">lavoro</a></li>
                    <li class="navbar_static"><a class="navbar_static" href="/Home/Soluzioni">soluzioni</a></li>
                    <li class="navbar_static_end"><a class="navbar_static" href="/Home/Archivio">archivio</a></li>
                    <li class="navbar"><a class="navbar" href="/Home/NonLavoro">non lavoro</a></li>
                    <li class="navbar"><a class="navbar" href="/Home/Contatti">contatti</a></li>
                </ul>
            </div> 
        </div>
   		<!--COLONNA 2 Contenuti-->
		<div style="float:left;width:73%;margin:5px;border-left:1px dotted black;">
            <h1><a id="S1">Competenze</a></h1>
			<p>Le <strong>ricerche quantitative</strong> necessitano compenteze statistiche e informatiche che iniziano dall'organizzazione delle basi per terminare con la rappresentazione dei risultati nei più svariati formati grafici, tabellari, geostatistici.<br /> 
			Fin dalle prime collaborazioni ho lavorato nel campo della gestione delle basi dati, elaborazione e reportistica.</p> 
			<p>Gli strumenti di lavoro utilizzati di volta in volta in volta sono stati scelti in base alle esigenze concrete di progetto e alle richieste dei clienti.<br/>
			Ho svolto anche ricerca su basi dati esistenti ed lavorato, soprattuto nel primo periodo post-laurea, all'attività di rilevazione sul campo.</p>
			<p>La parte metodologica e le competenze di analisi statistica studiate all'università, sono state approfondite grazie all'attività di ricerca applicata post-laurea.<br/>
			</p>
			

			<p>
			Nel corso degli anni ho avuto modo di impiegare svariati <strong>software</strong> sia proprietari che opensource ed ho sviluppato applicazioni specifiche con differenti linguaggi di programmazione e su diverse piattaforme.<br/> 
			Per quanto possibile, cerco di offrire soluzioni basate su software opensource.</p>
			<p>Ho avuto modo di lavorare con i seguenti sistemi/sostware:</p>
            <ul>
                <li><strong>SISTEMI OPERATIVI</strong> - Microsft Windows, GNU/LINUX.</li>
                <li><strong>PROGRAMMAZIONE</strong> - Microsoft Visual Basic/VBA, Microsoft Microsoft C#, Java.</li>
                <li><strong>WEB</strong> - programmazione ambienti Microsoft e GNU/Linux, ASP, ASPX, PHP, HTML, XHTML, CSS.</li>
                <li><strong>STATISTICA</strong> - SPSS, R, SAS.</li>
                <li><strong>DATABASE</strong> - Microsoft SQLServer, Microsoft Access, MySQL, PostgreSQL, DBIII</li>
                <li><strong>PACCHETTI GIS</strong> - ATLAS GIS, MAPINFO.</li>
                <li><strong>BI</strong> - PowerBI, Tableau</li>
                <li><strong>test</strong> - PowerBI, Tableau</li>
            </ul>
			<p style="text-align:right"><a href="#s1">menu</a>&nbsp;<a href="#lavoro">top</a></p>
        </div>
    </div>               
</div>